spec_version: 2.0
package: {{ project.package }}

contracts:
  mainnet_name_registry:
    kind: tezos
    address: KT1GBZmSxmnKJXGMdMLbugPfLyUPmuLSMwKS
    typename: name_registry

datasources:
  tzkt_mainnet:
    kind: tezos.tzkt
    url: ${TZKT_URL:-https://api.tzkt.io}

templates:
  big_maps:
    kind: tezos.tzkt.big_maps
    datasource: <datasource>
    skip_history: once
    handlers:
      - callback: on_update_records
        contract: <name_registry>
        path: store.records
      - callback: on_update_expiry_map
        contract: <name_registry>
        path: store.expiry_map

indexes:
  big_maps_mainnet:
    template: big_maps
    values:
      datasource: tzkt_mainnet
      name_registry: mainnet_name_registry
