spec_version: 3.0
package: {{ project.package }}

runtimes:
  assethub:
    kind: substrate
    type_registry: statemint

datasources:
  subsquid:
    kind: substrate.subsquid
    url: https://v2.archive.subsquid.io/network/asset-hub-polkadot
  subscan:
    kind: substrate.subscan
    url: https://assethub-polkadot.api.subscan.io/api
  node:
    kind: substrate.node
    url: https://statemint.api.onfinality.io/rpc?apikey=${NODE_API_KEY:-''}
    ws_url: wss://statemint.api.onfinality.io/ws?apikey=${NODE_API_KEY:-''}

indexes:
  assethub_transfers:
    kind: substrate.events
    runtime: assethub
    datasources:
    - subsquid
    - subscan
    - node
    handlers:
    - callback: on_transfer
      name: Assets.Transferred
