# Ignore all
*

# Add build files
!Makefile
!pyproject.toml
!poetry.lock
!README.md
!requirements**
!scripts/install_dependencies.sh

# Add code
!src/dipdup/

# Ignore caches
**/.mypy_cache
**/__pycache__
