# Ignore all
*
!*/

# Add metadata and build files
!.gitignore
!.dockerignore
!**/Dockerfile
!**/Makefile
!**/pyproject.toml
!**/poetry.lock
!**/requirements.*
!**/README.md
!**/.keep

# Add Python code
!**/*.py

# Ignore caches and virtualenvs
**/.*_cache
**/__pycache__

# Add configs and scripts (but not env!)
!**/*.graphql
!**/*.json
!**/*.sql
!**/*.yaml
!**/*.yml
!**/*.j2
!**/*.default

# Docs
!docs/**
docs/_build