[tool.poetry]
name = "dipdup"
description = "Python SDK for developing indexers of Tezos smart contracts inspired by The Graph"
version = "2.0.5"
license = "MIT"
authors = [
    "Lev Gorodetskiy <github@droserasprout.space>",
    "Michael Zaikin <mz@baking-bad.org>"
]
readme = "README.md"
repository = "https://github.com/dipdup-net/dipdup-py"
homepage = "https://dipdup.net/"
keywords = ['tezos', 'blockchain', 'sdk', 'michelson', 'indexers', 'tzkt', 'cryptocurrencies', 'smart-contracts']
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
packages = [
    { include = "dipdup", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.8"
aiohttp = "^3.7.4"
asyncpg = "0.23.0"
datamodel-code-generator = "^0.11.1"
"ruamel.yaml" = "^0.17.2"
tortoise-orm = "0.17.5"
pydantic = "^1.8.1"
aiosignalrcore = "^0.9.2"
fcache = "^0.4.7"
pyee = "^8.1.0"
APScheduler = "^3.7.0"
sentry-sdk = "^1.1.0"
pyhumps = "^3.0.2"
aiolimiter = "^1.0.0-beta.1"
tabulate = "^0.8.9"
python-dotenv = "^0.18.0"
pytezos = {version = "^3.2.4", optional = true}
asyncclick = "^8.0.1"
anyio = "^3.2.1"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
bump2version = "^1.0.1"
diff-cover = "^5.0.1"
isort = "^5.7.0"
mypy = "^0.812"
pytest = "^3.0"
pytest-cov = "^2.4"
flake8 = "3.9.0"
flakehell = "^0.9.0"

[tool.poetry.extras]
pytezos = ["pytezos"]

[tool.poetry.scripts]
dipdup = 'dipdup.cli:cli'

[tool.isort]
line_length = 140

[tool.black]
line-length = 140
target-version = ['py38']
skip-string-normalization = true

[tool.flakehell]
format = "colored"
max_line_length = 140
show_source = true

[tool.flakehell.plugins]
pyflakes = ["+*"]
"flake8-*" = ["+*"]
flake8-docstrings = ["-*"]

[build-system]
requires = ["poetry_core>=1.0.0", "cryptography==3.3.2", "wheel"]
build-backend = "poetry.core.masonry.api"
