[tool.poetry]
name = "dipdup"
description = "Python SDK for developing indexers of Tezos smart contracts inspired by The Graph"
version = "5.0.0-rc4"
license = "MIT"
authors = [
    "Lev Gorodetskiy <github@droserasprout.space>",
    "Michael Zaikin <mz@baking-bad.org>"
]
readme = "README.md"
repository = "https://github.com/dipdup-net/dipdup-py"
homepage = "https://dipdup.net/"
keywords = ['tezos', 'blockchain', 'sdk', 'michelson', 'indexers', 'tzkt', 'cryptocurrencies', 'smart-contracts']
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
packages = [
    { include = "dipdup", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.10"
aiohttp = "^3.8.0"
aiolimiter = "^1.0.0-beta.1"
anyio = "^3.3.2"
APScheduler = "^3.8.0"
asyncclick = "^8.0.1"
asyncpg = "^0.24.0"
datamodel-code-generator = "^0.11.18"
fcache = "^0.4.7"
orjson = "^3.6.6"
prometheus-client = "^0.12.0"
pydantic = "^1.8.2"
pyhumps = "^3.0.2"
pysignalr = "^0.1.1"
pytezos = {version = "^3.2.4", optional = true}
python-dotenv = "^0.19.0"
"ruamel.yaml" = "^0.17.2"
sentry-sdk = "^1.4.3"
sqlparse = "^0.4.2"
tabulate = "^0.8.9"
tortoise-orm = "0.17.8"
typing-inspect = "^0.6.0"

[tool.poetry.dev-dependencies]
black = "^22.1.0"
bump2version = "^1.0.1"
diff-cover = "^5.0.1"
flake8 = "^3.9.2"
flake8-return = "^1.1.3"
flake8-comprehensions = "^3.8.0"
flake8-bugbear = "^22.1.11"
flake8-simplify = "^0.14.5"
flakehell = "^0.9.0"
isort = "^5.9.3"
mypy = "^0.910"
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
pytest-xdist = "^2.5.0"
testcontainers = "^3.4.2"
types-pytz = "^2021.1.2"
types-tabulate = "^0.8.2"

[tool.poetry.extras]
pytezos = ["pytezos"]

[tool.poetry.scripts]
dipdup = 'dipdup.cli:cli'

[tool.isort]
line_length = 140
force_single_line = true

[tool.black]
line-length = 140
target-version = ['py310']
skip-string-normalization = true

[tool.flakehell]
format = "colored"
max_line_length = 140
show_source = true
extended_default_ignore = []

[tool.flakehell.plugins]
pyflakes = ["+*"]
"flake8-*" = ["+*"]
flake8-docstrings = ["-*"]
flake8-simplify = ["-SIM106"]

[build-system]
requires = ["poetry_core>=1.0.0", "cryptography==3.3.2", "wheel"]
build-backend = "poetry.core.masonry.api"
