body {
    font-size: 1.55rem  /* was 1.6rem */
}

h2, h3 {
    margin-top: 1.5em;  /* was 2.5em */
}

pre > code {
    padding: 1.5rem;  /* was 1rem */
    font-size: 0.825em;  /* was 0.875em; */
}

.float-img {
    float: right;
    width: 35%;
    padding: 1.5em;
}

/* for some reason searchbar is ugly af on Coal */
input#searchbar, input#searchbar:focus {
    background-color: var(--sidebar-bg);
    color: unset;
    outline: none !important;
    border: none !important; 
    border-width: 0 !important;
    box-shadow: none !important;
}

/* fix scrollbars */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--sidebar-fg) var(--sidebar-bg);
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-fg);
    border-radius: 20px;
    border: 1px solid var(--sidebar-bg);
}

img.logo {
    height: 1em;
    opacity: 50%;
}

/* less ugly autodoc references */
dd .field-odd {
    margin: 0;
}