from typing import Optional

from dipdup.models import OperationData, Origination, Transaction
from dipdup.context import HandlerContext

import {{ package }}.models as models
{% for pattern_config in pattern_items %}
{%- for imp in pattern_config.get_imports() %}
{{ imp }}
{%- endfor %}
{%- endfor %}


async def {{ callback }}(
    ctx: HandlerContext,
{%- for pattern_config in pattern_items %}
{%- for arg in pattern_config.get_arguments() %}
    {{ arg }}
{%- endfor %}
{%- endfor %}
):
    return NotImplemented