spec_version: 1.2
package: {{ cookiecutter.package }}

database:
  kind: sqlite
  path: {{ cookiecutter.project_name }}.sqlite3

datasources:
  tzkt:
    kind: tzkt
    url: https://api.kathmandunet.tzkt.io/

contracts:
  event_emitter:
    address: KT1F3Ai1GV6HXA7mzV8BZiPS9NEtDrRn9odn

indexes:
  events:
    kind: event
    datasource: tzkt
    handlers:
      - callback: on_xrate
        contract: event_emitter
        tag: xrate
      - callback: on_unknown
        contract: event_emitter

logging: verbose