from dipdup.context import HandlerContext
from dipdup.models import BigMapDiff

import {{ package }}.models as models
from {{ package }}.types.{{ handler.contract.module_name }}.big_map.{{ pascal_to_snake(handler_path) }}_key import {{ snake_to_pascal(handler_path) }}Key
from {{ package }}.types.{{ handler.contract.module_name }}.big_map.{{ pascal_to_snake(handler_path) }}_value import {{ snake_to_pascal(handler_path) }}Value


async def {{ handler.callback }}(
    ctx: HandlerContext,
    {{ pascal_to_snake(handler_path) }}: BigMapDiff[{{ snake_to_pascal(handler_path) }}Key, {{ snake_to_pascal(handler_path) }}Value],
) -> None:
    ...
