from typing import List

from dipdup.context import BigMapHandlerContext
from dipdup.models import BigMapDiff

import {{ package }}.models as models
{% for pattern in patterns %}
from {{ package }}.types.{{ pattern.contract.module_name }}.big_map.{{ pascal_to_snake(pattern.path) }}_key import {{ snake_to_pascal(pattern.path) }}Key
from {{ package }}.types.{{ pattern.contract.module_name }}.big_map.{{ pascal_to_snake(pattern.path) }}_value import {{ snake_to_pascal(pattern.path) }}Value
{%- endfor %}


async def {{ handler }}(
    ctx: BigMapHandlerContext,
{%- for pattern in patterns %}
    {{ pascal_to_snake(pattern.path) }}: List[BigMapDiff[{{ snake_to_pascal(pattern.path) }}Key, {{ snake_to_pascal(pattern.path) }}Value]],
{%- endfor %}
) -> None:
    ...
    