from dipdup.models import HandlerContext, OperationContext

from {{ package }}.models import *

{% for pattern in patterns %}
from {{ package }}.types.{{ pattern.destination }}.parameter.{{ pattern.entrypoint }} import {{ pattern.entrypoint.title().replace('_', '') }}
{%- endfor %}

async def {{ handler }}(
    ctx: HandlerContext,
{%- for pattern in patterns %}
    {{ pattern.entrypoint }}: OperationContext[{{ pattern.entrypoint.title().replace('_', '') }}],
{%- endfor %}
) -> None:
    ...
