from dipdup.models import OperationHandlerContext, TransactionContext, OriginationContext

import {{ package }}.models as models
{% for pattern in patterns %}
{{ pattern.get_handler_imports(package) }}
{%- endfor %}


async def {{ handler }}(
    ctx: OperationHandlerContext,
{%- for pattern in patterns %}
    {{ pattern.get_handler_argument() }}
{%- endfor %}
) -> None:
    ...
