from typing import Optional

from dipdup.models import OperationData, Origination, Transaction
from dipdup.context import HandlerContext

import {{ package }}.models as models
{% for pattern in pattern_items %}
{%- for imp in pattern.iter_imports(package) %}
{{ imp }}
{%- endfor %}
{%- endfor %}


async def {{ handler }}(
    ctx: HandlerContext,
{%- for pattern in pattern_items %}
{%- for arg in pattern.iter_arguments() %}
    {{ arg }}
{%- endfor %}
{%- endfor %}
):
    return NotImplemented
