from typing import Optional

from dipdup.models import OperationData, Origination, Transaction
from dipdup.context import HandlerContext

import {{ package }}.models as models
{% for pattern in patterns %}
{{ pattern.get_handler_imports(package) }}
{%- endfor %}


async def {{ handler }}(
    ctx: HandlerContext,
{%- for pattern in patterns %}
    {{ pattern.get_handler_argument() }}
{%- endfor %}
) -> None:
    ...
