database:
  kind: sqlite
  path: ${SQLITE_PATH:-/tmp/{{ project.package }}.sqlite}

sentry:
  dsn: ${SENTRY_DSN:-''}
  environment: ${SENTRY_ENVIRONMENT:-''}

prometheus:
  host: 0.0.0.0
  port: 8000

api:
  host: 0.0.0.0
  port: 46339

mcp:
  host: 0.0.0.0
  port: 9999
  api_url: http://0.0.0.0:46339
