# Ignore all
*

# Add build files
!Makefile
!pyproject.toml
!poetry.lock
!requirements.*
!README.md

# Add code
!src

# Add configs
!**/*.graphql
!**/*.json
!**/*.sql
!**/*.yaml
!**/*.yml

# Ignore caches
**/.*_cache
**/__pycache__
