version: "3.8"
name: demo_nft_marketplace

services:
  dipdup:
    build:
      context: ..
      dockerfile: deploy/Dockerfile
    command: ["-c", "dipdup.yaml", "-c", "configs/dipdup.sqlite.yaml", "run"]
    restart: always
    env_file: .env
    ports:
      - 46339
      - 9000
    volumes:
      - sqlite:${SQLITE_PATH:-/tmp/demo_nft_marketplace.sqlite}

volumes:
  sqlite: