spec_version: 2.0
package: demo_etherlink

datasources:
  tzkt:
    kind: tezos.tzkt
    url: ${TZKT_URL:-https://api.nairobinet.tzkt.io}

contracts:
  ticketer:
    kind: tezos
    address: KT1TL2U9XFhDEuN1mR2iMPSBNWe769jDx5s9
    typename: ticketer
  ticket_helper:
    kind: tezos
    address: KT1NxrHQFJ7YEgHp4jXYgfEWXHpqnbZ5F2Tn
    typename: ticket_helper
  rollup:
    kind: tezos
    address: sr1Fw3QghZkhxHvjAHsxfoRsTffTgAfzCbj6
    typename: rollup
  rollup_too:
    kind: tezos
    address: sr1BQvjNrvPLjPTHTTKLFNY6cNHrWFxc9wjB
    typename: rollup_too

indexes:
  rollup_operations:
    kind: tezos.tzkt.operations
    datasource: tzkt
    contracts:
      - ticketer
      - rollup
      - rollup_too
      - ticket_helper
    types:
      - transaction
      - sr_execute
    handlers:
      - callback: on_deposit
        pattern:
          - type: transaction
            destination: ticketer
            entrypoint: deposit
          - type: transaction
            destination: ticket_helper
            entrypoint: default
          - type: transaction
            destination: rollup_too
            entrypoint: default
            alias: rollup_default
      - callback: on_withdraw
        pattern:
          - type: sr_execute
            destination: rollup_too
          - type: transaction
            destination: ticketer
            entrypoint: withdraw
          - type: transaction
            source: ticketer
            entrypoint: transfer