spec_version: 2.0
package: demo_etherlink

datasources:
  tzkt:
    kind: tezos.tzkt
    url: ${TZKT_URL:-https://api.nairobinet.tzkt.io}

contracts:
  controller:
    kind: tezos
    address: KT1TL2U9XFhDEuN1mR2iMPSBNWe769jDx5s9
    typename: controller
  ticketer:
    kind: tezos
    address: KT1NxrHQFJ7YEgHp4jXYgfEWXHpqnbZ5F2Tn
    typename: ticketer
  rollup:
    kind: tezos
    address: sr1Fw3QghZkhxHvjAHsxfoRsTffTgAfzCbj6
    typename: rollup

indexes:
  rollup_operations:
    kind: tezos.tzkt.operations
    datasource: tzkt
    contracts:
      - controller
      - rollup
      - ticketer
    types:
      - transaction
      - sr_execute
    handlers:
      # - callback: on_deposit
      #   pattern:
      #     - type: transaction
      #       destination: ticketer
      #       entrypoint: deposit
      #     - type: transaction
      #       destination: rollup
      #       entrypoint: default
      - callback: on_withdraw
        pattern:
          - type: sr_execute
            destination: rollup
          - type: transaction
            destination: controller
            entrypoint: withdraw
          - type: transaction
            source: controller
            entrypoint: transfer
