spec_version: 1.2
package: {{ cookiecutter.package }}

database:
  kind: sqlite
  path: {{ cookiecutter.project_name }}.sqlite3

contracts:
  registry:
    code_hash: KT19CF3KKrvdW77ttFomCuin2k4uAVkryYqh
    typename: registry

datasources:
  tzkt:
    kind: tzkt
    url: ${TZKT_URL:-https://api.tzkt.io}

indexes:
  registry_dao:
    kind: operation
    datasource: tzkt
    types:
      - transaction
      - origination
    handlers:
      - callback: on_origination
        pattern:
          - type: origination
            originated_contract: registry
      - callback: on_propose
        pattern:
          - type: transaction
            destination: registry
            entrypoint: propose
