spec_version: 2.0
package: {{ project.package }}

contracts:
  registry:
    kind: tezos
    address: KT1PvEyN1xCFCgorN92QCfYjw3axS6jawCiJ
    typename: registry
  # token_example to generate types
  token_example:
    kind: tezos
    address: KT1Dn8upoFauC5uKJB2cZYCUP6qKzEr8nPku
    typename: token

datasources:
  tzkt:
    kind: tezos.tzkt
    url: ${TZKT_URL:-https://api.tzkt.io}

templates:
  registry_dao:
    kind: tezos.tzkt.operations
    datasource: tzkt
    types:
      - transaction
    contracts:
      - <contract>
    handlers:
      - callback: on_transfer
        pattern:
          - type: transaction
            destination: <contract>
            entrypoint: transfer

indexes:
  factory:
    kind: tezos.tzkt.operations
    datasource: tzkt
    contracts:
      - registry
    types:
      - origination
    handlers:
      - callback: on_factory_origination
        pattern:
          - type: origination
            source: registry
