spec_version: 1.2
package: demo_factories

contracts:
  factory:
    address: KT1PvEyN1xCFCgorN92QCfYjw3axS6jawCiJ
    typename: factory
  token:
    address: KT1UsSfaXyqcjSVPeiD7U1bWgKy3taYN7NWY
    typename: token

datasources:
  tzkt:
    kind: tzkt
    url: ${TZKT_URL:-https://api.tzkt.io}

templates:
  dex:
    kind: operation
    datasource: tzkt
    types:
      - transaction
    contracts:
      - <dex>
      - <token>
    handlers:
      - callback: on_transfer
        pattern:
          - type: transaction
            destination: <token>
            entrypoint: transfer
    first_level: 2393103
    last_level: 2393103

indexes:
  factory:
    kind: operation
    datasource: tzkt
    contracts:
      - factory
    types:
      - origination
      - transaction
    handlers:
      - callback: on_factory_origination
        pattern:
          - type: transaction
            entrypoint: launchExchange
          - type: origination
            source: factory
    first_level: 2428590
    last_level: 2428590
