version: "3.8"

services:

  indexer:
    build:
      context: ../..
      dockerfile: {{package}}/docker/Dockerfile
    depends_on:
      - db
    volumes:
{%- for k, v in mounts.items() %}
      - {{ k }}:{{ v }}
{%- endfor %}
    command: {{command}}
    restart: always
    env_file: {{env_file}}

  db:
    image: postgres:13
    ports:
      - 127.0.0.1:5432:5432
    restart: always
    volumes:
      - db:/var/lib/postgres/data
    env_file: {{env_file}} 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  hasura:
    image: hasura/graphql-engine:v2.0.9
    ports:
      - 127.0.0.1:8080:8080
    depends_on:
      - db
    restart: always
    env_file: {{env_file}}
  
volumes:
  db: