[
    {
        "interface_name": "src::mintable_token_interface::IMintableToken",
        "name": "MintableToken",
        "type": "impl"
    },
    {
        "members": [
            {
                "name": "low",
                "type": "core::integer::u128"
            },
            {
                "name": "high",
                "type": "core::integer::u128"
            }
        ],
        "name": "core::integer::u256",
        "type": "struct"
    },
    {
        "items": [
            {
                "inputs": [
                    {
                        "name": "account",
                        "type": "core::starknet::contract_address::ContractAddress"
                    },
                    {
                        "name": "amount",
                        "type": "core::integer::u256"
                    }
                ],
                "name": "permissioned_mint",
                "outputs": [],
                "state_mutability": "external",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "account",
                        "type": "core::starknet::contract_address::ContractAddress"
                    },
                    {
                        "name": "amount",
                        "type": "core::integer::u256"
                    }
                ],
                "name": "permissioned_burn",
                "outputs": [],
                "state_mutability": "external",
                "type": "function"
            }
        ],
        "name": "src::mintable_token_interface::IMintableToken",
        "type": "interface"
    },
    {
        "interface_name": "src::mintable_token_interface::IMintableTokenCamel",
        "name": "MintableTokenCamelImpl",
        "type": "impl"
    },
    {
        "items": [
            {
                "inputs": [
                    {
                        "name": "account",
                        "type": "core::starknet::contract_address::ContractAddress"
                    },
                    {
                        "name": "amount",
                        "type": "core::integer::u256"
                    }
                ],
                "name": "permissionedMint",
                "outputs": [],
                "state_mutability": "external",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "account",
                        "type": "core::starknet::contract_address::ContractAddress"
                    },
                    {
                        "name": "amount",
                        "type": "core::integer::u256"
                    }
                ],
                "name": "permissionedBurn",
                "outputs": [],
                "state_mutability": "external",
                "type": "function"
            }
        ],
        "name": "src::mintable_token_interface::IMintableTokenCamel",
        "type": "interface"
    },
    {
        "interface_name": "src::replaceability_interface::IReplaceable",
        "name": "Replaceable",
        "type": "impl"
    },
    {
        "members": [
            {
                "name": "snapshot",
                "type": "@core::array::Array::<core::felt252>"
            }
        ],
        "name": "core::array::Span::<core::felt252>",
        "type": "struct"
    },
    {
        "members": [
            {
                "name": "eic_hash",
                "type": "core::starknet::class_hash::ClassHash"
            },
            {
                "name": "eic_init_data",
                "type": "core::array::Span::<core::felt252>"
            }
        ],
        "name": "src::replaceability_interface::EICData",
        "type": "struct"
    },
    {
        "name": "core::option::Option::<src::replaceability_interface::EICData>",
        "type": "enum",
        "variants": [
            {
                "name": "Some",
                "type": "src::replaceability_interface::EICData"
            },
            {
                "name": "None",
                "type": "()"
            }
        ]
    },
    {
        "name": "core::bool",
        "type": "enum",
        "variants": [
            {
                "name": "False",
                "type": "()"
            },
            {
                "name": "True",
                "type": "()"
            }
        ]
    },
    {
        "members": [
            {
                "name": "impl_hash",
                "type": "core::starknet::class_hash::ClassHash"
            },
            {
                "name": "eic_data",
                "type": "core::option::Option::<src::replaceability_interface::EICData>"
            },
            {
                "name": "final",
                "type": "core::bool"
            }
        ],
        "name": "src::replaceability_interface::ImplementationData",
        "type": "struct"
    },
    {
        "items": [
            {
                "inputs": [],
                "name": "get_upgrade_delay",
                "outputs": [
                    {
                        "type": "core::integer::u64"
                    }
                ],
                "state_mutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "implementation_data",
                        "type": "src::replaceability_interface::ImplementationData"
                    }
                ],
                "name": "get_impl_activation_time",
                "outputs": [
                    {
                        "type": "core::integer::u64"
                    }
                ],
                "state_mutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "implementation_data",
                        "type": "src::replaceability_interface::ImplementationData"
                    }
                ],
                "name": "add_new_implementation",
                "outputs": [],
                "state_mutability": "external",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "implementation_data",
                        "type": "src::replaceability_interface::ImplementationData"
                    }
                ],
                "name": "remove_implementation",
                "outputs": [],
                "state_mutability": "external",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "implementation_data",
                        "type": "src::replaceability_interface::ImplementationData"
                    }
                ],
                "name": "replace_to",
                "outputs": [],
                "state_mutability": "external",
                "type": "function"
            }
        ],
        "name": "src::replaceability_interface::IReplaceable",
        "type": "interface"
    },
    {
        "interface_name": "src::access_control_interface::IAccessControl",
        "name": "AccessControlImplExternal",
        "type": "impl"
    },
    {
        "items": [
            {
                "inputs": [
                    {
                        "name": "role",
                        "type": "core::felt252"
                    },
                    {
                        "name": "account",
                        "type": "core::starknet::contract_address::ContractAddress"
                    }
                ],
                "name": "has_role",
                "outputs": [
                    {
                        "type": "core::bool"
                    }
                ],
                "state_mutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "role",
                        "type": "core::felt252"
                    }
                ],
                "name": "get_role_admin",
                "outputs": [
                    {
                        "type": "core::felt252"
                    }
                ],
                "state_mutability": "view",
                "type": "function"
            }
        ],
        "name": "src::access_control_interface::IAccessControl",
        "type": "interface"
    },
    {
        "interface_name": "src::roles_interface::IMinimalRoles",
        "name": "RolesImpl",
        "type": "impl"
    },
    {
        "items": [
            {
                "inputs": [
                    {
                        "name": "account",
                        "type": "core::starknet::contract_address::ContractAddress"
                    }
                ],
                "name": "is_governance_admin",
                "outputs": [
                    {
                        "type": "core::bool"
                    }
                ],
                "state_mutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "account",
                        "type": "core::starknet::contract_address::ContractAddress"
                    }
                ],
                "name": "is_upgrade_governor",
                "outputs": [
                    {
                        "type": "core::bool"
                    }
                ],
                "state_mutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "account",
                        "type": "core::starknet::contract_address::ContractAddress"
                    }
                ],
                "name": "register_governance_admin",
                "outputs": [],
                "state_mutability": "external",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "account",
                        "type": "core::starknet::contract_address::ContractAddress"
                    }
                ],
                "name": "remove_governance_admin",
                "outputs": [],
                "state_mutability": "external",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "account",
                        "type": "core::starknet::contract_address::ContractAddress"
                    }
                ],
                "name": "register_upgrade_governor",
                "outputs": [],
                "state_mutability": "external",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "account",
                        "type": "core::starknet::contract_address::ContractAddress"
                    }
                ],
                "name": "remove_upgrade_governor",
                "outputs": [],
                "state_mutability": "external",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "role",
                        "type": "core::felt252"
                    }
                ],
                "name": "renounce",
                "outputs": [],
                "state_mutability": "external",
                "type": "function"
            }
        ],
        "name": "src::roles_interface::IMinimalRoles",
        "type": "interface"
    },
    {
        "interface_name": "openzeppelin::token::erc20::interface::IERC20",
        "name": "ERC20Impl",
        "type": "impl"
    },
    {
        "items": [
            {
                "inputs": [],
                "name": "name",
                "outputs": [
                    {
                        "type": "core::felt252"
                    }
                ],
                "state_mutability": "view",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "symbol",
                "outputs": [
                    {
                        "type": "core::felt252"
                    }
                ],
                "state_mutability": "view",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "decimals",
                "outputs": [
                    {
                        "type": "core::integer::u8"
                    }
                ],
                "state_mutability": "view",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "total_supply",
                "outputs": [
                    {
                        "type": "core::integer::u256"
                    }
                ],
                "state_mutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "account",
                        "type": "core::starknet::contract_address::ContractAddress"
                    }
                ],
                "name": "balance_of",
                "outputs": [
                    {
                        "type": "core::integer::u256"
                    }
                ],
                "state_mutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "owner",
                        "type": "core::starknet::contract_address::ContractAddress"
                    },
                    {
                        "name": "spender",
                        "type": "core::starknet::contract_address::ContractAddress"
                    }
                ],
                "name": "allowance",
                "outputs": [
                    {
                        "type": "core::integer::u256"
                    }
                ],
                "state_mutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "recipient",
                        "type": "core::starknet::contract_address::ContractAddress"
                    },
                    {
                        "name": "amount",
                        "type": "core::integer::u256"
                    }
                ],
                "name": "transfer",
                "outputs": [
                    {
                        "type": "core::bool"
                    }
                ],
                "state_mutability": "external",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "sender",
                        "type": "core::starknet::contract_address::ContractAddress"
                    },
                    {
                        "name": "recipient",
                        "type": "core::starknet::contract_address::ContractAddress"
                    },
                    {
                        "name": "amount",
                        "type": "core::integer::u256"
                    }
                ],
                "name": "transfer_from",
                "outputs": [
                    {
                        "type": "core::bool"
                    }
                ],
                "state_mutability": "external",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "spender",
                        "type": "core::starknet::contract_address::ContractAddress"
                    },
                    {
                        "name": "amount",
                        "type": "core::integer::u256"
                    }
                ],
                "name": "approve",
                "outputs": [
                    {
                        "type": "core::bool"
                    }
                ],
                "state_mutability": "external",
                "type": "function"
            }
        ],
        "name": "openzeppelin::token::erc20::interface::IERC20",
        "type": "interface"
    },
    {
        "interface_name": "openzeppelin::token::erc20::interface::IERC20CamelOnly",
        "name": "ERC20CamelOnlyImpl",
        "type": "impl"
    },
    {
        "items": [
            {
                "inputs": [],
                "name": "totalSupply",
                "outputs": [
                    {
                        "type": "core::integer::u256"
                    }
                ],
                "state_mutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "account",
                        "type": "core::starknet::contract_address::ContractAddress"
                    }
                ],
                "name": "balanceOf",
                "outputs": [
                    {
                        "type": "core::integer::u256"
                    }
                ],
                "state_mutability": "view",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "name": "sender",
                        "type": "core::starknet::contract_address::ContractAddress"
                    },
                    {
                        "name": "recipient",
                        "type": "core::starknet::contract_address::ContractAddress"
                    },
                    {
                        "name": "amount",
                        "type": "core::integer::u256"
                    }
                ],
                "name": "transferFrom",
                "outputs": [
                    {
                        "type": "core::bool"
                    }
                ],
                "state_mutability": "external",
                "type": "function"
            }
        ],
        "name": "openzeppelin::token::erc20::interface::IERC20CamelOnly",
        "type": "interface"
    },
    {
        "inputs": [
            {
                "name": "name",
                "type": "core::felt252"
            },
            {
                "name": "symbol",
                "type": "core::felt252"
            },
            {
                "name": "decimals",
                "type": "core::integer::u8"
            },
            {
                "name": "initial_supply",
                "type": "core::integer::u256"
            },
            {
                "name": "recipient",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "name": "permitted_minter",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "name": "provisional_governance_admin",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "name": "upgrade_delay",
                "type": "core::integer::u64"
            }
        ],
        "name": "constructor",
        "type": "constructor"
    },
    {
        "inputs": [
            {
                "name": "spender",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "name": "added_value",
                "type": "core::integer::u256"
            }
        ],
        "name": "increase_allowance",
        "outputs": [
            {
                "type": "core::bool"
            }
        ],
        "state_mutability": "external",
        "type": "function"
    },
    {
        "inputs": [
            {
                "name": "spender",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "name": "subtracted_value",
                "type": "core::integer::u256"
            }
        ],
        "name": "decrease_allowance",
        "outputs": [
            {
                "type": "core::bool"
            }
        ],
        "state_mutability": "external",
        "type": "function"
    },
    {
        "inputs": [
            {
                "name": "spender",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "name": "addedValue",
                "type": "core::integer::u256"
            }
        ],
        "name": "increaseAllowance",
        "outputs": [
            {
                "type": "core::bool"
            }
        ],
        "state_mutability": "external",
        "type": "function"
    },
    {
        "inputs": [
            {
                "name": "spender",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "name": "subtractedValue",
                "type": "core::integer::u256"
            }
        ],
        "name": "decreaseAllowance",
        "outputs": [
            {
                "type": "core::bool"
            }
        ],
        "state_mutability": "external",
        "type": "function"
    },
    {
        "kind": "struct",
        "members": [
            {
                "kind": "data",
                "name": "from",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "kind": "data",
                "name": "to",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "kind": "data",
                "name": "value",
                "type": "core::integer::u256"
            }
        ],
        "name": "openzeppelin::token::erc20_v070::erc20::ERC20::Transfer",
        "type": "event"
    },
    {
        "kind": "struct",
        "members": [
            {
                "kind": "data",
                "name": "owner",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "kind": "data",
                "name": "spender",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "kind": "data",
                "name": "value",
                "type": "core::integer::u256"
            }
        ],
        "name": "openzeppelin::token::erc20_v070::erc20::ERC20::Approval",
        "type": "event"
    },
    {
        "kind": "struct",
        "members": [
            {
                "kind": "data",
                "name": "implementation_data",
                "type": "src::replaceability_interface::ImplementationData"
            }
        ],
        "name": "src::replaceability_interface::ImplementationAdded",
        "type": "event"
    },
    {
        "kind": "struct",
        "members": [
            {
                "kind": "data",
                "name": "implementation_data",
                "type": "src::replaceability_interface::ImplementationData"
            }
        ],
        "name": "src::replaceability_interface::ImplementationRemoved",
        "type": "event"
    },
    {
        "kind": "struct",
        "members": [
            {
                "kind": "data",
                "name": "implementation_data",
                "type": "src::replaceability_interface::ImplementationData"
            }
        ],
        "name": "src::replaceability_interface::ImplementationReplaced",
        "type": "event"
    },
    {
        "kind": "struct",
        "members": [
            {
                "kind": "data",
                "name": "impl_hash",
                "type": "core::starknet::class_hash::ClassHash"
            }
        ],
        "name": "src::replaceability_interface::ImplementationFinalized",
        "type": "event"
    },
    {
        "kind": "struct",
        "members": [
            {
                "kind": "data",
                "name": "role",
                "type": "core::felt252"
            },
            {
                "kind": "data",
                "name": "account",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "kind": "data",
                "name": "sender",
                "type": "core::starknet::contract_address::ContractAddress"
            }
        ],
        "name": "src::access_control_interface::RoleGranted",
        "type": "event"
    },
    {
        "kind": "struct",
        "members": [
            {
                "kind": "data",
                "name": "role",
                "type": "core::felt252"
            },
            {
                "kind": "data",
                "name": "account",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "kind": "data",
                "name": "sender",
                "type": "core::starknet::contract_address::ContractAddress"
            }
        ],
        "name": "src::access_control_interface::RoleRevoked",
        "type": "event"
    },
    {
        "kind": "struct",
        "members": [
            {
                "kind": "data",
                "name": "role",
                "type": "core::felt252"
            },
            {
                "kind": "data",
                "name": "previous_admin_role",
                "type": "core::felt252"
            },
            {
                "kind": "data",
                "name": "new_admin_role",
                "type": "core::felt252"
            }
        ],
        "name": "src::access_control_interface::RoleAdminChanged",
        "type": "event"
    },
    {
        "kind": "struct",
        "members": [
            {
                "kind": "data",
                "name": "added_account",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "kind": "data",
                "name": "added_by",
                "type": "core::starknet::contract_address::ContractAddress"
            }
        ],
        "name": "src::roles_interface::GovernanceAdminAdded",
        "type": "event"
    },
    {
        "kind": "struct",
        "members": [
            {
                "kind": "data",
                "name": "removed_account",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "kind": "data",
                "name": "removed_by",
                "type": "core::starknet::contract_address::ContractAddress"
            }
        ],
        "name": "src::roles_interface::GovernanceAdminRemoved",
        "type": "event"
    },
    {
        "kind": "struct",
        "members": [
            {
                "kind": "data",
                "name": "added_account",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "kind": "data",
                "name": "added_by",
                "type": "core::starknet::contract_address::ContractAddress"
            }
        ],
        "name": "src::roles_interface::UpgradeGovernorAdded",
        "type": "event"
    },
    {
        "kind": "struct",
        "members": [
            {
                "kind": "data",
                "name": "removed_account",
                "type": "core::starknet::contract_address::ContractAddress"
            },
            {
                "kind": "data",
                "name": "removed_by",
                "type": "core::starknet::contract_address::ContractAddress"
            }
        ],
        "name": "src::roles_interface::UpgradeGovernorRemoved",
        "type": "event"
    },
    {
        "kind": "enum",
        "name": "openzeppelin::token::erc20_v070::erc20::ERC20::Event",
        "type": "event",
        "variants": [
            {
                "kind": "nested",
                "name": "Transfer",
                "type": "openzeppelin::token::erc20_v070::erc20::ERC20::Transfer"
            },
            {
                "kind": "nested",
                "name": "Approval",
                "type": "openzeppelin::token::erc20_v070::erc20::ERC20::Approval"
            },
            {
                "kind": "nested",
                "name": "ImplementationAdded",
                "type": "src::replaceability_interface::ImplementationAdded"
            },
            {
                "kind": "nested",
                "name": "ImplementationRemoved",
                "type": "src::replaceability_interface::ImplementationRemoved"
            },
            {
                "kind": "nested",
                "name": "ImplementationReplaced",
                "type": "src::replaceability_interface::ImplementationReplaced"
            },
            {
                "kind": "nested",
                "name": "ImplementationFinalized",
                "type": "src::replaceability_interface::ImplementationFinalized"
            },
            {
                "kind": "nested",
                "name": "RoleGranted",
                "type": "src::access_control_interface::RoleGranted"
            },
            {
                "kind": "nested",
                "name": "RoleRevoked",
                "type": "src::access_control_interface::RoleRevoked"
            },
            {
                "kind": "nested",
                "name": "RoleAdminChanged",
                "type": "src::access_control_interface::RoleAdminChanged"
            },
            {
                "kind": "nested",
                "name": "GovernanceAdminAdded",
                "type": "src::roles_interface::GovernanceAdminAdded"
            },
            {
                "kind": "nested",
                "name": "GovernanceAdminRemoved",
                "type": "src::roles_interface::GovernanceAdminRemoved"
            },
            {
                "kind": "nested",
                "name": "UpgradeGovernorAdded",
                "type": "src::roles_interface::UpgradeGovernorAdded"
            },
            {
                "kind": "nested",
                "name": "UpgradeGovernorRemoved",
                "type": "src::roles_interface::UpgradeGovernorRemoved"
            }
        ]
    }
]