# NOTE: To run this pipeline in act replace secrets.GITHUB_TOKEN with $GITHUB_TOKEN and uncomment the first step

name: Docs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  push:
    tags:
      - '8.*.*'
      - 'docs-next'
    branches:
      - '**'
    paths:
      - 'docs/**'
      - 'scripts/**'
      - '.github/workflows/docs.yml'

env:
  FRONTEND_BRANCH: dev
  GITHUB_TOKEN: ${{ secrets.DOCS_GITHUB_TOKEN }}

jobs:
  docs:
    name: Docs
    runs-on: ubuntu-22.04
    steps:
      # NOTE: Uncomment for local testing with act
      # - name: Install GitHub CLI (act only)
      #   run: |
      #     type -p curl >/dev/null || (sudo apt update && sudo apt install curl -y)
      #     curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg \
      #     && sudo chmod go+r /usr/share/keyrings/githubcli-archive-keyring.gpg \
      #     && echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
      #     && sudo apt update \
      #     && sudo apt install gh -y

      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Install Poetry
        run: pipx install poetry

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: 'poetry'

      - name: Install markdownlint-cli
        run: npm install -g markdownlint-cli

      - name: Install project
        run: poetry install

      - name: Clone frontend
        run: |
          gh auth setup-git
          gh repo clone dipdup-io/interface ../interface -- --single-branch --branch "$FRONTEND_BRANCH"

      - name: Build docs
        run: poetry run make docs_build

      - name: Commit and push frontend
        if: github.ref_type == 'tag'
        run: |
          cd ../interface
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git diff-index --quiet HEAD || git commit -m "${{ github.event.head_commit.message }}"
          git push origin $FRONTEND_BRANCH