name: Installer
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  push:
    paths:
      - 'src/**'
      - 'pyproject.toml'
      - '*.lock'
      - '.github/workflows/installer.yml'

jobs:
  installer:
    name: Installer
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            arch: amd64
          - os: ubuntu-latest
            arch: arm64
          # - os: macos-latest
          #   arch: amd64
          - os: macos-latest
            arch: arm64
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: 'poetry'

      - name: macOS runner workaround
        run: pip install --upgrade pip pipx

      - name: Install DipDup
        run: python src/dipdup/install.py --quiet --path .

      - name: dipdup new
        run: dipdup new --quiet
        
      - name: dipdup init
        run: cd dipdup_indexer; dipdup init

      - name: Install dev dependencies
        run: cd dipdup_indexer; poetry remove dipdup; poetry add ..; poetry install

      - name: make all
        run: cd dipdup_indexer; poetry run make all

      - name: Copy installer to scripts
        # TODO: Update to `next` after 8.0 release
        if: contains(github.ref, 'current')
        run: cp src/dipdup/install.py scripts/install.py

      - name: Publish scripts to GitHub Pages
        # TODO: Update to `next` after 8.0 release
        if: contains(github.ref, 'current')
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./scripts
          keep_files: true