name: Installer
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  push:
    paths:
      - 'src/**'
      - 'pyproject.toml'
      - 'pdm.lock'
      - '.github/workflows/docs.yml'
      - '.github/workflows/installer.yml'

jobs:
  installer:
    name: Installer
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            arch: amd64
          - os: ubuntu-latest
            arch: arm64
          # - os: macos-latest
          #   arch: amd64
          - os: macos-latest
            arch: arm64
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: macOS runner workaround
        run: pip install --upgrade pip pipx

      - name: Install DipDup
        run: python src/dipdup/install.py --quiet --path .

      - name: dipdup new
        run: dipdup new --quiet
        
      - name: dipdup init
        run: cd dipdup_indexer; dipdup init

      - name: Install dev dependencies
        run: cd dipdup_indexer; pdm venv create; pdm install

      - name: make all
        run: cd dipdup_indexer; $(pdm venv activate); make all

      # NOTE: Installer is published in `docs` workflow