name: Tests
on: push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8.x'
    - uses: snok/install-poetry@v1.1.1
    - name: Install project
      run: make install
    - name: Run lint
      run: make lint
    - name: Run tests
      run: make test
#    - name: Make docs
#      if: github.ref == 'refs/heads/master'
#      run: poetry run make docs
#    - name: Deploy to GH Pages
#      if: github.ref == 'refs/heads/master'
#      uses: peaceiris/actions-gh-pages@v3
#      with:
#        github_token: ${{ secrets.GITHUB_TOKEN }}
#        publish_dir: ./docs/build/html
