name: Test
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
on:
  push:
    paths:
      - 'src/**'
      - 'tests/**'
      - 'pyproject.toml'
      - 'pdm.lock'
      - '.github/workflows/test.yml'

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            arch: amd64
          - os: ubuntu-latest
            arch: arm64
          # - os: macos-latest
          #   arch: amd64
          - os: macos-latest
            arch: arm64
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Install PDM
        run: pipx install pdm

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Run install
        run: pdm sync

      - name: Run lint
        run: pdm run lint
        if: contains(matrix.os, 'ubuntu') && contains(matrix.arch, 'amd64')

      - name: Run tests
        run: pdm run test
        env:
          NODE_API_KEY: ${{ secrets.ALCHEMY_KEY }}
